.env

__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

.venv/

application/services/ml/model/*.pkl
application/services/ml/model/*.png
application/services/ml/model/*.joblib
ml/model/

.vscode/
.idea/

docker-compose.override.yml


*.tmp
*.bak
*.swp

docs/
*.drawio

